<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 | Sahifa topilmadi</title>
    <style>
body {
    font: normal 16px/26px Arial, sans-serif;
    background: #fafafa;
    color: #2a3744;
}

.error-page {
    margin: 100px 0 40px;
    text-align: center;
}

.error-page__header-image {
    width: 112px;
}

.error-page__title {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 31px;
}
    </style>
</head>
<body style="background-color:white;">
<div class="error-page"><header class="error-page__header">
    <img class="error-page__header-image"
     src="https://i.gifer.com/4kjK.gif"
    />
    <h1 class="error-page__title nolinks">Sahifa topilmadi </h1></header>
    <p class="error-page__message">Bosh sahifaga qayting...</p>
    <a href="{% url 'shop:home' %}" class="btn">Ortga</a>
</div>
</body>
</html>