{% extends 'base.html' %}
{% block content %}
<style>
    .main{
        margin-top: 150px;
    }
    *{
        font-family: Poppins,sans-serif;
    }
.headers{
    transform: translateY(70px);  
    padding: 30px 15px 30px 0px;
    background-color: #f7f6f5;      
 }
.ДОСТАВКА_БЕСПЛАТНО{
    font-weight: bold;
    font-size: 20px;
}
.category-block h2{
    color: red;
    font-weight: 600;
    font-size: 27px;
    line-height: 42px;
    text-align: center;
}
.hovera:hover .card .card-header .img-top{
    box-shadow: darkslategray 5px 4px 5px 4px ;
}
</style>
<div class="row-up" style="z-index: 2222; transform: translate(1310px, 500px); position:fixed;">
    <a href="" class="btn btn-group btn-outline-primary font-weight-bold "  style="position: fixed;border: dodgerblue 2px solid; ">^</a>
</div>
<main class="headers w-100 text-center" >
        <span class="ДОСТАВКА_БЕСПЛАТНО  text-danger  " > ДОСТАВКА БЕСПЛАТНО </span> <br>
        <span class="  text-danger mt-5 font-weight-bold " style="font-size: 20px; "> от 150 000 сум </span> <br> <br>
        <strong style="color: #858585; font-size: 20px; padding: 10px 100px 10px 100px;"> Наша служба доставки работает для Вас ежедневно с 09:00 и до 23:00.  <br>
            Прием заказов осуществляется до 22:45 <br>
            45-60 минут </strong>
</main>
<main class="main ">
{% for category in categories %}
{% if category.foods.all|length == 0 %}
{% else %}
<div class="category-block px-5" id="#category_{{category.name}}" style="background-color: #f7f6f5;padding-top: 50px;" >
    <h2 class="mb-5"> {{category.name}} </h2>
    <div class="foods-block" >
            <div class="row">

                {% for food in category.foods.all %}
                <div class=" col-sm-12 col-md-3 col-lg-3 " style="margin-bottom: 0px;">
                    <a href=" {% url 'main:food_detail' food.id %} " class="hovera">
                    <div class="card text-center" style="border: none; background:none;">
                        <div class="card-header" style="background-color: #fff; border: none;">
                            {% if food.image %}
                            <img class="img-top" src="{{food.image.url}}" alt="1" style="width: 239px;height: 238px;background-color: #fff;">
                            {% else %}
                            <img class="img-top" src="/static/unnamed.jpg" alt="" style="width: 239px;height: 238px;background-color: #fff;" >
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <p style="font-size: 13px;color: #7f7a9a; transform: translateY(-15px);"> {{food.category}} </p>
                            <p style="font-size: 0.9375rem;color: #7f7a9a; transform: translateY(-25px);"> {{food.name}} </p>
                            <p style="font-size: 1.125rem;color: #444; transform: translateY(-35px);"> {{food.price}} UZS </p>
                        </div>
                        <div class="card-footer bg-light" style="border: none; transform: translateY(-60px);">
                            <a href="#" class="btn btn-outline-danger" > <i class="fas fa-shopping-bag"></i>  в корзину</a>
                        </div>
                      </div>
                </div>
            </a>
                {% endfor %}

            </div>
        </div>
</div>
{% endif %}
{% endfor %}
</main>



{% endblock %}