
{% extends 'wrapper.html' %}
{% load static %}
{% block content %}

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(/static/assets/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4><del>$ {{object.old_price}} </del> <strong class="text-primary">${{object.price}}</strong></h4>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div>
                <img src="{{car.image_main.url}}" alt="" class="img-fluid wc-image">
              </div>
              <br>
              <div class="row">
                {% for img in car.car_images.all %}
                <div class="col-sm-4 col-6">
                  <div>
                    <img src="{{img.image.url}}" alt="" class="img-fluid">
                  </div>
                  <br>
                </div>
                {% endfor %}
                <div class="col-sm-4 col-6">
                  <div>
                    <img src="/static/assets/images/product-2-370x270.jpg" alt="" class="img-fluid">
                  </div>
                  <br>
                </div>
                <div class="col-sm-4 col-6">
                  <div>
                    <img src="/static/assets/images/product-3-370x270.jpg" alt="" class="img-fluid">
                  </div>
                  <br>
                </div>

                <div class="col-sm-4 col-6">
                  <div>
                    <img src="/static/assets/images/product-4-370x270.jpg" alt="" class="img-fluid">
                  </div>
                  <br>
                </div>
                <div class="col-sm-4 col-6">
                  <div>
                    <img src="/static/assets/images/product-5-370x270.jpg" alt="" class="img-fluid">
                  </div>
                  <br>
                </div>
                <div class="col-sm-4 col-6">
                  <div>
                    <img src="/static/assets/images/product-6-370x270.jpg" alt="" class="img-fluid">
                  </div>
                  <br>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <form action="#" method="post" class="form">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Type </span>
                          <strong class="pull-right">{{car.status.upper}} vehicle</strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Made in </span>
                          <strong class="pull-right"> Do Not Know Actually </strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left"> Model</span>
                          <strong class="pull-right"> {{car.model}}</strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">First registration</span>
                          <strong class="pull-right">05/2010</strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Mileage</span>
                          <strong class="pull-right">{{car.mileage}} km</strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Fuel</span>
                          <strong class="pull-right"> {{car.fuel.upper}} </strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Engine size</span>
                          <strong class="pull-right">1800 cc</strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Power</span>
                          <strong class="pull-right">{{car.power}} HP</strong>
                      </div>
                </li>


                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Gearbox</span>
                          <strong class="pull-right">Manual</strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Number of seats</span>
                          <strong class="pull-right"> {{car.num_of_seats}} </strong>
                      </div>
                </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Doors</span>
                          <strong class="pull-right">2/3</strong>
                      </div>
                </li>

                <li class="list-group-item">
                  <div class="clearfix">
                      <span class="pull-left">Price </span>
                      <strong class="pull-right">{{object.price}} $ </strong>
                  </div>
            </li>

                <li class="list-group-item">
                      <div class="clearfix">
                          <span class="pull-left">Color</span>
                          <strong class="pull-right">{{car.color.upper}}</strong> <div  style=" float: right; width: 30px;height: 30px; border: 1px solid black; border-radius:50%; background-color: red;"></div>
                      </div>
                </li>              
                {% if request.user.is_staff %}
                <li class="list-group-item">
                    <div class="clearfix">
                      <!-- DANGER !!!  a ni ichiga btn ochib url yozilsa csrf token hatolik beradi a ni ozi bn qilish kerak -->
                      <!-- <a  href="{% url 'main:car_update' object.id %}"> <button class="btn btn-group btn-outline-primary">Update</button> </a> -->
                      <a class="btn btn-group btn-outline-primary" href="{% url 'main:car_update' object.id %}"> Update </a>
                      <a class="btn btn-group btn-outline-danger" href="{% url 'main:car_delete' object.id %}"> Delete </a>
                    </div>
                </li>
                {% endif %}                 
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="section-heading">
              <h2>Vehicle Description</h2>
            </div>

            <div class="left-content">
              <p>- Colour coded bumpers<br>- Tinted glass<br>- Immobiliser<br>- Central locking - remote<br>- Passenger airbag<br>- Electric windows<br>- Rear head rests<br>- Radio<br>- CD player<br>- Ideal first car<br>- Warranty<br>- High level brake light<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="section-heading">
              <h2>Vehicle Extras</h2>
            </div>
            
            <div class="left-content">
              <p>- ABS <br>-Leather seats <br>-Power Assisted Steering <br>-Electric heated seats <br>-New HU and AU <br>-Xenon headlights</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="section-heading">
              <h2>Contact Details</h2>
            </div>
            
            <div class="left-content">
              <p>
                <span>Name</span>

                <br>

                <strong>John Smith</strong>
              </p>

              <p>
                <span>Phone</span>

                <br>
                
                <strong>
                  <a href="tel:123-456-789">123-456-789</a>
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal" > meni bos</button>
                </strong>
              </p>

              <p>
                <span>Mobile phone</span>

                <br>
                
                <strong>
                  <a href="tel:456789123">456789123</a>
                </strong>
              </p>

              <p>
                <span>Email</span>

                <br>
                
                <strong>
                  <a href="mailto:john@carsales.com">john@carsales.com</a>
                </strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="contact-form">
              <form action="#" id="contact">
                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Pick-up location" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Return location" required="">
                          </fieldset>
                       </div>
                  </div>

                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Return date/time" required="">
                          </fieldset>
                       </div>
                  </div>
                  <input type="text" class="form-control" placeholder="Enter full name" required="">

                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Enter email address" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" placeholder="Enter phone" required="">
                          </fieldset>
                       </div>
                  </div>
              </form>
           </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Book Now</button>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}