<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>PHPJabbers.com | Free Car Dealer Website Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header style="position: fixed;" class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Car Dealer <em>Website</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="cars.html">Cars</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                      {% if request.user.is_staff == False %}
                      <a class="dropdown-item text-danger font-weight-bold " href="{% url 'account:profile' request.user.id %}" >  Profile </a>
                      {% endif %}                     
                      <a class="dropdown-item" href="team.html">Team</a>
                      <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                      <a class="dropdown-item" href="terms.html">Terms</a>
                    </div>
                </li>

                <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>

                <li class="nav-item"><a class="nav-link" href="{% url 'account:register' %}"> Register </a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'account:login' %}"> LogIn </a></li>


            </ul>
          </div>
        </div>
      </nav>
    </header>


    {% block  content %}
    
    {% endblock %}





    <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="inner-content">
                <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>
  
  
      <!-- Bootstrap core JavaScript -->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  
      <!-- Additional Scripts -->
      <script src="/static/assets/js/custom.js"></script>
      <script src="/static/assets/js/owl.js"></script>
    </body>
  </html>





















  #Ubuntu #Linux #macOS
  How To Make Ubuntu Look Like macOS Big Sur [2021]
  70,659 views
  Oct 26, 2020
  1.1K
  26
  Share
  Save
  The TechieR
  760 subscribers
  Hello Everyone, In this video we will learn how to make Ubuntu look like macOS Big Sur.
  
  Links:-
  🔗 WhiteSur Gtk Theme: https://bit.ly/3mooZeZ
  🔗 WhiteSur icon theme: https://bit.ly/3otc7pG
  🔗 McMojave cursors: https://bit.ly/3onuMU5
  🔗 WhiteSur Wallpaper: https://bit.ly/3kGRB2s
  🔗 GNOME Shell integration: https://bit.ly/35w2hLf
  🔗 User Themes Gnome Extension: https://bit.ly/37OnTF8
  🔗 Compiz windows effect extension: https://bit.ly/2Geoftb
  
  Note: If you are confused in installing Albert, visit : https://albertlauncher.github.io/inst...
  
  Terminal Commands:-
  ⭐ Use the following command to open your Files as root:
  
  ~ sudo nautilus
  
  ⭐ Use the following command to install gnome tweaks:
  
  ~ sudo apt install gnome-tweaks
  
  ⭐ Use the following command to install Chrome-Gnome shell:
  
  ~ sudo apt install chrome-gnome-shell
  
  ⭐ Plank Installation in Ubuntu:
  
  ~ sudo add-apt-repository ppa:ricotz/docky
  ~ sudo apt-get update
  ~ sudo apt-get install plank
  
  ⭐ Use the following command to open plank preferences:
  
  ~ plank --preferences
  
  ⭐ Use the following command to remove default ubuntu dock:
  
  ~ sudo apt remove gnome-shell-extension-ubuntu-dock
  
  ⭐ Albert Installation Commands For Ubuntu:
  
  ~ curl https://build.opensuse.org/projects/h... | sudo apt-key add -
  
  ~ echo 'deb http://download.opensuse.org/reposito... /' | sudo tee /etc/apt/sources.list.d/home:manuelschneid3r.list
  
  ~ sudo wget -nv https://download.opensuse.org/reposit... -O "/etc/apt/trusted.gpg.d/home:manuelschneid3r.asc"
  
  ~ sudo apt update
  ~ sudo apt install albert
  
  ⌚ Timestamps:-
  (00:00) - Intro
  (00:14) - Results
  (00:54) - Installing GTK (Application) Theme
  (03:43) - Installing Chrome Gnome Extension
  (04:59) - Installing The Shell Theme
  (05:59) - Installing The Icons
  (07:54) - Installing Plank (The Dock)
  (09:18) - Installing The Plank's Theme
  (10:53) - Removing The Ubuntu's Default Dock
  (11:34) - Installing The Cursor Theme
  (13:10) - Setting The Big Sur Wallpaper
  (14:03) - Installing Albert
  (16:32) - Installing Compiz Effect
  (17:25) - Outro
  
  ⭐ Watch More:
  📺How To Install JAVA JDK On Windows 10: https://bit.ly/3cLs1GA
  
  📺How To Change Themes In Ubuntu 20.04: https://bit.ly/3fWNU5S
  📺How To Change Icons And Cursor In Ubuntu 20.04: https://bit.ly/2PWfm92
  📺How To Change The Dock In Ubuntu 20.04: https://bit.ly/31KcF18
  Ubuntu Playlist: https://bit.ly/3kMPlHx
  
  💰 If this video helps you then, please support me at Patreon: https://bit.ly/3iAIJKy
  ☕ Buy me a coffee: http://bit.ly/buy_me_coffee
  
  ⭐ Follow us:
  🌎 Facebook: https://bit.ly/2FofiNn
  🌎Instagram: https://bit.ly/3g0RpZ1
  🌎Reddit: https://bit.ly/3asiG5j
  
  ⚡ Smash the like button if you liked the video or downvote.
  And Don't Forget to Subscribe if you want videos like this. ⚡
  
  ⚡Thanks For Watching :) ⚡
  
  🎵 Music Provided By NCS: https://www.youtube.com/watch?v=Srqs4...
  
  ⭐ Hashtags ⭐
  #Ubuntu #Linux #macOS #TheTechieR
  






