{% extends 'account/base.html' %}
{% block  content %}
<br>
<br>
<div class="container">
	<div class="row">
		<div class="col s12">
			<div class="header">
				<h4>Profile</h4>
			</div>
		</div>
		<div class="col s4">
			<h5>{{user.username}}</h5>
			<br>
			<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="" class="responsive-img">
		</div>
		<div class="col s8">
			<table>
				<tr>
					<td>Username :{{user.username}}</td>
				</tr>
				<tr>
				   <td>Email:{{user.email}}</td>					
				</tr>
				<tr>
					<td>Firts Name:{{user.first_name}}</td>
				</tr>
				<tr>
					<td>Last Name: {{user.last_name}}</td>					
				</tr>
			</table>
		</div>
	</div>
</div>

{% endblock %}