<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/static/assets/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">


    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">

    <title> Log In Page </title>
</head>
<body>
        <h1 class="text-center"> Welcome To Log In page </h1>

        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            <button type="submit">Submit</button>
        </form>
</body>
</html>