{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  
  {% block title %}
    <title> Movie </title>
  {% endblock title %}
      

  <!-- CSS  -->
  <!-- <link href="://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="/static/css/materialize.min.css">
  <script src="/static/javascript/jquery-3.4.1.min.js"></script>
</head>
<body style="background-image: url(/static/Images/bg-content.jpg);">
  <nav class="grey darken-4 " role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'account_signup' %}" class="brand-logo">Movie  <center class="dark-text"> <a href="{% url 'account_logout' %}">{{request.user.username}} </a> </center></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'account_login' %}"> Aloqa </a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
{% block content %}
    


{% endblock content %}
  <!--  Scripts-->
  <script src="://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/javascript/main.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
