<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <title> Upvote </title>
</head>
<body>
    <center style="font-size: 50px;"><a href="{% url 'main:create_point' %}">  + </a> </center>
    <h1 style="text-align: center;"> Welcome {{request.user}} </h1> 
<div class="buttons center-align">
    <a class="btn btn-group center-align" href="{% url 'account_logout' %}">Logout</a>
    <a class="btn btn-group center-align" href="{% url 'account_login' %}">Login</a>
    <a class="btn btn-group center-align" href="{% url 'account_signup' %}">signup</a>
    <a class="btn btn-group center-align" href="{% url 'main:profile' %}">Profile</a>

</div>
    <div class="container">


        {% for point in points %}
    <h3> {{ point.author }} </h3>
    <h4> <a href="{% url 'main:point_details' point.id %}">  {{ point.title|truncatewords:'10' }}  </a> </h4> <div id="movie-title">like {{ point.like }} </div> <div id="movie-title">dislike {{ point.dislike }} </div>
    <a  href="{% url 'main:addlike' point.id %}"> like</a> <a  href="{% url 'main:dislike' point.id %}"> dislike</a> 
    
    {% endfor %}
        

</div>




























    
    <script>
(function($){
    $(function(){
  
      $('.sidenav').sidenav();
  
    }); // end of document ready
  })(jQuery); // end of jQuery name space
  M.AutoInit();
  
  function Search(value){
        console.log(value)
        if (window.XMLHttpRequest) {
        var xhttp=new XMLHttpRequest();
          } else {  // code for IE6, IE5
              var xhttp=new ActiveXObject("Microsoft.XMLHTTP");
          }
          xhttp.onreadystatechange = function() {
        //   if (xhttp.readyState === 4 && xhttp.status === 200) {
              let data = JSON.parse(this.responseText)
              document.querySelector('.like').style.display = 'block';
              if(value === ''){
                  document.querySelector('.like').style.display = 'none';
              }
  
              let title = document.querySelector('#movie-title')
              let div = '<div>'
              console.log(data['data'])
              for(let i = 0; i < data['data'].length; i++){
                  let t = data['data'][i].name
                  let s = data['data'][i].slug
                  div += `<a href="/detail/${s}" class="collection-item dbb">${t}</a>`
              }
              div += '</div>';
              title.innerHTML = div
        //   }else{
            console.log('not yet')
            // }
        }
  
      var url = "/addlike/"
      xhttp.open("GET", url+`${value}`, true);
      xhttp.send();
  }
  
    </script>



<script src="/static/js/materialize.min.js"></script>

</body>
</html>